section {
	padding:2em 0;
}

.home-main {
	padding:2em;
	.wrap {
		margin-top:-75px;
		padding:40px;
	}
}



.interior {
	.hero {
		height:400px;
	}
}

.hero {
	.intro-text {
		display:block;
	}
	.overlay {
		display:none;
	}
	.hero-content {
		width:40%;
		h2 {
			color:$darkred;
		}
		p {
			color:$primary;
		}
	}

}

.col3 {
	@include rowGrid(1,2%);
	float:left;
}


.home-main {
	.col3 {
		margin-bottom: 1em;
		padding:10px 20px;
		border:solid 2px;
		height: 320px;
		display: table;
		text-align: center;
		p, h3 {
			text-align:left;
		}
	}
}

.tophat {
	.wrap {
		border-left:solid 15px white;
		border-right:solid 15px white;
		.telephone{
		margin: 0 1em 0 39px;
		font-size: 38px;
		
	}
	.quote {
		font-size: 18px;

	}
}
	}

.mainnav {
	.logo {
		
		margin-left: 100px;
	}
}


.sidebar {
	border-bottom: 0;
	text-align:right;
	border-right: solid 1px $red;
	h2 {
		padding:0 15px;
		margin-bottom: 20px;
		font-size: 31.5px;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			padding: 0;
			margin: 0;
			&.active {
				a {
					color:white;
					background:$red;
					width:100%;
				}
			}
			margin-bottom: 1em;
			a {
				color:$secondary;
				font-weight: 800;
				font-size:16px;
				display: inline-block;
				border:solid 1px transparent;
				padding:15px;
				width:90%;
				margin-bottom: 10px;
				float: right;

				&:hover{
					color:white;
					background:$redlight;
				}
			}
		}
	}
}


.nav-collapse{
  width:auto;
}