.col3 {
	@include rowGrid(3,2%);
	float:left;
}


.home-main {
	.col3 {
		margin-bottom: 1em;
		padding:10px 20px;
		border:solid 2px;
		height: 320px;
		display: table;
		text-align: center;
		p, h3 {
			text-align:left;
		}
	}
}