.content {
	padding:5em 0;
}

.tophat {
	.telephone {
		float:left;
	}
	.quote {
		float:right;
	}
}


.home {
}

.home-main {
	
	.headline {
		img {
			float:left
		}
	}
	.col3 {
		h3 {
			margin-left: 1em;
		}
	}
}