.mainnav {
@include transition(all .5s);
z-index:1000;
background: white;
	ul{
		float:right;
		li {
			float:left;
			&.active {
				a {
					color:$red;
				}
			}
			a {
				padding:1em;
				color:$darkred;
				font-size: 16px;
				&:hover {
					color:$red;
				}
			}
		}
	}
}


/*! responsive-nav.js @@version by @viljamis */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}



.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 769px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

.nav-collapse{
  width:100%;
}
