* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}

body {
  padding: 0;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  padding:2em;
    
}

.wrap {
  max-width: 1100px;
  margin:auto;
  position: relative;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}



/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

.tophat {background: $darkred;
  text-align: center;
.wrap {
  background:$darkgray ;
  
  padding:1em 2em;
  .telephone, .button {
    line-height: 1;
  }
  .telephone {

display: inline-block;
color: white;
font-size: 14px;
padding: 0;
margin: 0 1em 1em 0;
line-height: 1.4;
  }
  .quote {
    font-size: 14px;
   
  }
  .button {
    border:solid 2px white;
  }
}


}

.mainnav {
  .nav-toggle {
    font-size: 34px;
    float:right;
    line-height: 3;
  }
  padding:0 2em;
  position: relative;
  box-shadow:0 5px 10px rgba(0,0,0,.3);
  height:106px;
  display: table;
  width:100%;
  text-align: center;
  .logo {
    width:200px;
    float:left;
    line-height:100px;
  }
  li {
    line-height: 100px;
  }
  .logo-elipse {
    display: none;
    position: absolute;
    top: -30px;
    left: -150px;
  }
}


.col3 {
  width:100%;
  margin-bottom: 1em;
  display: inline-block;
}

.interior {
  .hero {
    height:200px;
  }
}

.hero {
  padding: 0;
  height:400px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  display:table !important;
  table-layout: fixed;
  width:100%;
  overflow:hidden;
  .center {
    padding:0 2em;
  }
  .intro-text {
    display: none;
  }
  .overlay {
    width:100%;
    height:800px;
    background:rgba($darkred, .6);
    position: absolute;
    top:-60px;
    left:0;
  }
  .hero-content {
    width:100%;
    h2 {
      color:white;
      font-weight: 200;
      text-transform: uppercase;
      font-size: 36px;
    }
    p {
      color:white;
    }
  }
  .wrap {
    max-width:940px;
  }
  
}

.home-main {
  padding: 10px;
  .headline {
    img {
      margin-right: 10px;
    }
    margin-bottom: 20px;
  }
  .main-form {
    label {
      font-size: 14px;
      padding: 0;
      margin: 0;
    }
    input[type="text"]{
      height:25px;
      font-size: 14px;
      margin: 0 0 5px 0;
      padding: 0 0 0 15px;
    }
  }
  .col3 {
    padding:10px 20px;
    border:solid 2px;
    height: 320px;
    display: table;
    text-align: center;
    label, input {
      text-align:left;
    }
    h3 {
      line-height: 1;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 800;
    }
    .button {
      margin-top: 15px;
    }
  }
  .grey {
    border-color:$neutral;
    h3 {
      color:$neutral;
    }
  }
  .red {
    border-color:$red;
    h3 {
      color:$red;
    }
  }
  .darkred {
    border-color:$darkred;
    h3 {
      color:$darkred;
    }
  }
  .wrap {
    background:url('/resources/img/module-bg.png')no-repeat top center;
    background-size:100%;
    margin-top:-25px;
    padding:20px;
  }
}

.center {
    display: table-cell;
    vertical-align:middle;
    position: relative;

  }


  .footer {
    background:$darkgray;
    text-align: center;
    p {
          color:black;
        }
    ul {
      li {
        display: inline-block;
        margin-right: 1em;
        &.active {
          a, a:visited, a:active {
            color:#ccc;
          }
        }
        &:last-child {
          margin-right: 0;
        }
        a, a:visited, a:active {
          color: white;
          &:hover {
            color:$neutral;
          }
        }

      }
    }
  }

.content {
  .wrap {
    max-width:940px;
  }
  padding:3em 2em;
}

.sidebar {
  margin-bottom: 2em;
  border-bottom:solid 1px #ccc;
  h2 {
    font-size: 19px;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      padding: 0;
      margin: 0;
      display: inline;
      &.active {
        a {
          color:white;
          background:$red;
        }
      }
       
       a {
        color:$secondary;
        font-weight: 800;
        font-size:14px;
        display: inline-block;
        border:solid 1px transparent;
        padding:15px;


        &:hover{
          color:white;
          background:$red;
        }
       }
    }
  }
}



.nav-collapse{
  width:100%;
}

#estimate {
  form {
    textarea {
      min-height:80px;
    }
  }
}


@media (min-width: 1350px){
.mainnav .logo-elipse {
display: block;
}
}

.navContain {
  position: fixed;
  width:100%;
  z-index:1001;
  top:0;
}

.scroll {
  text-align: center;
}
