body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h1 {
  margin: 0 0 10px 0;

  font-size: 30px;
  font-weight: 400;
  line-height: 1;

  color: $neutral;
}

h2 {
  color:$red;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 1em;
  color:$primary;
}
.content{
  ul {
    list-style:disc;
    padding:0 0 0 30px;
    li {
      font-family: $body;
  font-size: 16px;
  line-height: 1.4;
  color:$primary;
    }
  }
}

a {
  color:$darkred;
  @include transition(all .3s);
  text-decoration: none;
  &:hover, &:visited, &:active {
    color:#972d2f;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.button {
  @include button
}
