// COLOR PALETTE
$primary: #2f2e2e;
$secondary: #8B8B8B;
$hover: #505050;
$neutral: #949494;
$dark: #707070;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;
$red: #a91f23;
$darkred:#a20417;
$redlight:#e85866;
$darkgray: #444244;

// FONT STACKS
$heading: 'Raleway', sans-serif;
$body: 'Raleway', sans-serif;

