 [[!FormIt?
       &hooks=`spam, sendGrid, email,FormItSaveForm`
       &emailFrom=`[[++primary_email]]`
       &emailTpl=`snt_from`
       &submitVar=`contactSubmit`
       &emailTo=`[[++primary_email]]`
        &formName=`Contact Form`
       &emailSubject=`Contact Form Submission`
       &validate=`phone:required, state:required, first_name:required, last_name:required, city:required, address:required, email:required, email:email, comments:required:stripTags, nospam:blank`
      &successMessage=`<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Thank you for getting in contact with us.</h3>
      <p>A [[++site_name]] representative will get in contact with you shortly</p>
    </div>`
    ]]

   [[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div>
              <strong><h3>Please review the following errors:</h3></strong>
                    [[!+fi.error.first_name:!empty=`<p>First Name is required</p>`]]
                    [[!+fi.error.last_name:!empty=`<p>Last Name is required</p>`]]
                    [[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]
                    [[!+fi.error.phone:!empty=`<p>Phone Number is required</p>`]]
                    [[!+fi.error.address:!empty=`<p>Address is required</p>`]]
                    [[!+fi.error.city:!empty=`<p>City is required</p>`]]
                    [[!+fi.error.state:!empty=`<p>State is required</p>`]]
                    [[!+fi.error.comments:!empty=`<p>Additional Comments is required</p>`]]

        </div>
</div>


`]]
    [[!+fi.successMessage]]


                   <form class="main-form row-fluid" action="[[~[[*id]]]]#error" method="post" enctype="multipart/form-data">
                        
                            <div class="row-fluid">
                                <div class="span6">
                                    <label for="first_name">First Name<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.first_name]]" id="first_name" name="first_name"  placeholder="Jonathan">
                                </div>
                                <div class="span6">
                                    <label for="last_name">Last Name<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.last_name]]" id="last_name" name="last_name"  placeholder="Doe">
                                </div>
                            </div>
                            <label for="email">Email Address<sup>*</sup></label>
                            <input type="text" value="[[!+fi.email]]" id="email" name="email"   placeholder="jon@doe.com">
                            <label for="phone">Phone<sup>*</sup></label>
                            <input type="text" value="[[!+fi.phone]]" id="phone" name="phone"   placeholder="999-999-9999">
                            <label for="address">Address<sup>*</sup></label>
                            <input type="text" value="[[!+fi.address]]" id="address" name="address"  >
                            <div class="row-fluid">
                                <div class="span4">
                                    <label for="city">City<sup>*</sup></label>
                                    <input value="[[!+fi.city]]" type="text" id="city" name="city"  >
                                </div>
                                
                                <div class="span4">
                            <label for="state">State<sup>*</sup></label>
                                    <select value="[[!+fi.state]]" id="state" name="state">
                                        [[!FormItStateOptions? &selected=`[[!+fi.state]]`]]
                                      </select>
                                </div>
                                <div class="span4">
                                    <label for="zip">Zip</label>
                            <input value="[[!+fi.zip]]" type="text" id="zip" name="zip"  >
<input value="[[!+fi.nospam]]" type="text" id="nospam" name="nospam" class="nospam">
                                </div>
                            </div>
                            <div class="row-fluid">
                                <label for="attachment">Upload a floorplan:</label>
                                <div class="span6"><input type="file" name="contact_images1" value="[[!+fi.contact_images1]]" /></div>
                            </div>
                            <label for="comments">Additional Comments<sup>*</sup></label>
                            <textarea value="[[!+fi.comments]]" id="comments" name="comments"></textarea>
                        <input class="button" type="submit" value="Send our way"  name="contactSubmit" />
                    </form>
                  