<script src="/resources/js/libs/respond.min.js"></script>
        <script src="/resources/js/libs/bootstrap.min.js"></script>
        <script src="/resources/js/plugins.js"></script>
        <script src="/resources/js/main.js"></script>
        <script src="/resources/js/event-tracker.js"></script>
        <script>
	      var navigation = responsiveNav(".nav-collapse");
	    </script>
	    <script>
	    $(window).load(function() {
		  $('.flexslider').flexslider({
		    animation: "slide",
		    directionNav: false, 
		  });
		});
	    </script>
    </body>
</html>