 [[!FormIt?
 &hooks=`spam, sendGrid, email,FormItSaveForm`
 &emailFrom=`[[++primary_email]]`
 &emailTpl=`snt_from_employment`
 &submitVar=`employmentSubmit`
 &emailTo=`justin.lobaito@weloideas.com`
 &formName=`Job Applications`
 &emailSubject=`New Job Application for [[+position]]`
 &validate=`hvac:required:minLength=`1`,
 position:required:minLength=`1`,
 education:required:minLength=`1`,
 owi:required:minLength=`1`,
 license:required:minLength=`1`,
 violation:required:minLength=`1`,
 phone:required, 
 state:required, 
 first_name:required, 
 last_name:required, 
 city:required, 
 address:required, 
 email:required, 
 email:email, 
 nospam:blank`
 &successMessage=`<div class="alert alert-success">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
 <h3>Thank you for getting in contact with us.</h3>
 <p>A [[++site_name]] representative will get in contact with you shortly</p>
</div>`
]]

[[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <div>
      <strong><h3>Please review the following errors:</h3></strong>
      <div class="row-fluid">
        <div class="span6">
      [[!+fi.error.first_name:!empty=`<p>First Name is required</p>`]]
      [[!+fi.error.last_name:!empty=`<p>Last Name is required</p>`]]
      [[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]
      [[!+fi.error.phone:!empty=`<p>Phone Number is required</p>`]]
      [[!+fi.error.address:!empty=`<p>Address is required</p>`]]
      [[!+fi.error.city:!empty=`<p>City is required</p>`]]
      [[!+fi.error.state:!empty=`<p>State is required</p>`]]
  </div>
  <div class="span6">
      [[!+fi.error.education:!empty=`<p>Please select a level of education</p>`]]
      [[!+fi.error.license:!empty=`<p>Do you have a valid license?</p>`]]
      [[!+fi.error.owi:!empty=`<p>Have you had an OWI in the last 10 years?</p>`]]
      [[!+fi.error.violation:!empty=`<p>Have you had 3 or more moving violations in the last 3 years?</p>`]]
      [[!+fi.error.position:!empty=`<p>You must select an available position</p>`]]
      [[!+fi.error.hvac:!empty=`<p>Do you have an HVAC license in the State of Iowa?</p>`]]

  </div>
  </div>


  </div>
</div>


`]]
[[!+fi.successMessage]]


<form class="main-form row-fluid" action="[[~[[*id]]]]#error" method="post" enctype="multipart/form-data">
    <h2>Employee Information</h2>
    <div class="row-fluid">
        <div class="span6">
            <label for="first_name">First Name<sup>*</sup></label>
            <input type="text" value="[[!+fi.first_name]]" id="first_name" name="first_name"  placeholder="Jonathan">
        </div>
        <div class="span6">
            <label for="last_name">Last Name<sup>*</sup></label>
            <input type="text" value="[[!+fi.last_name]]" id="last_name" name="last_name"  placeholder="Doe">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <label for="email">Email Address<sup>*</sup></label>
            <input type="text" value="[[!+fi.email]]" id="email" name="email"   placeholder="jon@doe.com">
        </div>
        <div class="span6">
            <label for="phone">Phone<sup>*</sup></label>
            <input type="text" value="[[!+fi.phone]]" id="phone" name="phone"   placeholder="999-999-9999">
        </div>
    </div>
    <label for="address">Address<sup>*</sup></label>
    <input type="text" value="[[!+fi.address]]" id="address" name="address"  >
    <div class="row-fluid">
        <div class="span6">
            <label for="city">City<sup>*</sup></label>
            <input value="[[!+fi.city]]" type="text" id="city" name="city"  >
        </div>

        <div class="span6">
            <label for="state">State</label>
            <select value="[[!+fi.state]]" id="state" name="state">
                [[!FormItStateOptions? &selected=`[[!+fi.state]]`]]
            </select>
        </div>
    </div>
    <div class="row-fluid">
        <label for="education">Education<sup>*</sup></label>
        <select name="education" value="[[!+fi.education]]" id="education">
            <option value="" [[!+fi.education:FormItIsSelected=``]] disabled>- Select an option -</option>
            <option value="High School">High School</option>
            <option value="Trade School">Trade School</option>
            <option value="College">College</option>

        </select>
    </div>
    <div class="row-fluid">
        <label for="license">Do you have a valid Driver's License<sup>*</sup></label>
        <select name="license" value="[[!+fi.license]]" id="license">
            <option value="" [[!+fi.license:FormItIsSelected=``]] disabled>- Select an option -</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <div class="row-fluid">
        <label for="owi">Have you had an OWI in the last 10 years?<sup>*</sup></label>
        <select name="owi" value="[[!+fi.owi]]" id="owi">
            <option value="" [[!+fi.owi:FormItIsSelected=``]] disabled>- Select an option -</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <div class="row-fluid">
        <label for="violation">Have you had 3 or more moving violations in the last 3 years?<sup>*</sup></label>
        <select name="violation" value="[[!+fi.violation]]" id="violation">
            <option value="" [[!+fi.violation:FormItIsSelected=``]] disabled>- Select an option -</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <hr>
    <label for="position">Position Desired<sup>*</sup></label>
        <select name="position" value="[[!+fi.position]]" id="position">
            <option value="" [[!+fi.position:FormItIsSelected=``]] disabled>- Select an option -</option>
            [[!getImageList? 
              &tvname=`available-positions`
              &tpl=`@CODE:<option value="[[+position]]">[[+position]]</option>
            `]]
        </select>
    <hr>
    <h2>Employment History</h2>
    <h3>Last three employers:</h3>
    <div class="row-fluid">
      <div class="span6"><label for="employer-1">Employer</label><input type="text" name="employer-1" value="[[!+fi.employer-1]]"></div>
      <div class="span6"><label for="employer-phone-1">Phone Number</label><input type="text" name="employer-phone-1" value="[[!+fi.employer-phone-1]]"></div>

    </div>
    <div class="row-fluid">
      <div class="span6"><label for="start-date-1">Start Date</label><input type="date" id="start-date-1" name="start-date-1" value="[[+fi.start-date-1]]"></div>
      <div class="span6"><label for="end-date-1">End Date</label><input type="date" id="end-date-1" name="end-date-1" value="[[+fi.end-date-1]]"></div>
    </div>
    <label for="responsibilities-1">Responsibilities</label>
    <textarea class="responsibilities" value="[[!+fi.responsibilities-1]]" id="responsibilities-1" name="responsibilities-1"></textarea>
    <hr>
    <div class="row-fluid">
      <div class="span6"><label for="employer-2">Employer</label><input type="text" name="employer-2" value="[[!+fi.employer-2]]"></div>
      <div class="span6"><label for="employer-phone-2">Phone Number</label><input type="text" name="employer-phone-2" value="[[!+fi.employer-phone-2]]"></div>

    </div>
    <div class="row-fluid">
      <div class="span6"><label for="start-date-2">Start Date</label><input type="date" id="start-date-2" name="start-date-2" value="[[+fi.start-date-2]]"></div>
      <div class="span6"><label for="end-date-2">End Date</label><input type="date" id="end-date-2" name="end-date-2" value="[[+fi.end-date-2]]"></div>
    </div>
    <label for="responsibilities-2">Responsibilities</label>
    <textarea class="responsibilities" value="[[!+fi.responsibilities-2]]" id="responsibilities-2" name="responsibilities-2"></textarea>
    <hr>
    <div class="row-fluid">
      <div class="span6"><label for="employer-3">Employer</label><input type="text" name="employer-3" value="[[!+fi.employer-3]]"></div>
      <div class="span6"><label for="employer-phone-3">Phone Number</label><input type="text" name="employer-phone-3" value="[[!+fi.employer-phone-3]]"></div>

    </div>
    <div class="row-fluid">
      <div class="span6"><label for="start-date-3">Start Date</label><input type="date" id="start-date-3" name="start-date-3" value="[[+fi.start-date-3]]"></div>
      <div class="span6"><label for="end-date-3">End Date</label><input type="date" id="end-date-3" name="end-date-3" value="[[+fi.end-date-3]]"></div>
    </div>
    <label for="responsibilities-3">Responsibilities</label>
    <textarea class="responsibilities" value="[[!+fi.responsibilities-3]]" id="responsibilities-3" name="responsibilities-3"></textarea>
    <hr>
    <div class="row-fluid">
        <label for="hvac">Do you have an HVAC license in the State of Iowa?<sup>*</sup></label>
        <select name="hvac" value="[[!+fi.hvac]]" id="hvac">
            <option value="" [[!+fi.hvac:FormItIsSelected=``]] disabled>- Select an option -</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <div class="row-fluid">
        <label for="apprentice">If not, are you interested in the Apprenticeship Program?</label>
        <select name="apprentice" value="[[!+fi.apprentice]]" id="apprentice">
            <option value="" [[!+fi.apprecntice:FormItIsSelected=``]] disabled>- Select an option -</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <hr>
    <div class="row-fluid">
        <div class="span6">
            <input value="[[!+fi.nospam]]" type="text" id="nospam" name="nospam" class="nospam">
            <label for="attachment">Upload a copy of your resume:</label>
        </div>
        <div class="span6">
            <input type="file" name="contact_images1" value="[[!+fi.contact_images1]]" />
        </div>
    </div>
    <label for="comments">Please List any additional training or certificates</label>
    <textarea value="[[!+fi.comments]]" id="comments" name="comments"></textarea>
    <input class="button" type="submit" value="Send our way"  name="employmentSubmit" />
</form>
