<div id="estimate" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Free Estimate</h3>
  </div>
  <div class="modal-body">
    [[$contact_form_estimate]]
  </div>
</div>