<section class="footer">
    <div class="row-fluid wrap">
        [[Wayfinder? 
        &level=`0`
        &startId=`0`
        &innerTpl=`nav_inner`
        &outerTpl=`nav_outer`
        &level=`1`
        &sortBy=`menuindex`
        

        ]]
        <p>Copyright © 2014 | Website by <a href="">Avidity Creative</a></p>
    </div>
</section>      	