<div class="heroContain">
<section class="hero" style="background-image:url('[[*background-image]]');">
	
	<div class="center">
		<div class="overlay">
		</div>
		<div class="wrap">
			<div class="hero-content">
				<h2><strong>[[*pagetitle]]</strong></h2>
				<div class="intro-text">[[*intro-text]]</div>
			</div>
		</div>
	</div>  
</section>
</div>