<div class="heroContain">
  <div class="flexslider">
    <ul class="slides">
        [[getResources?
          &parents=`1`
          &tpl=`slides`
          &showHidden=`1`
          &limit=`0`
          &includeContent=`1`
          &includeTVs=`1` 
          &processTVs=`1` 
          &tvPrefix=``
        ]]
        
    </ul>
</div>
</div>