[[$estimate]]
<div class="navContain">
<div class="tophat">
	<div class="wrap">
		<p class="telephone"> Call us! 515-986-5007</p>
		<a href="#estimate" data-toggle="modal" class="button quote" >Free Estimate</a>
	</div>
</div>
<nav class="mainnav">
	<div class="wrap">
		<div class="logo-elipse"><a href="/"><img src="/resources/img/logo-elipse.png" alt=""></a></div>
		<div class="logo"><a href="/"><img src="/resources/img/logo.jpg" alt=""></a></div>
		<div class="nav-collapse">
		[[Wayfinder? 
        &level=`0`
        &startId=`0`
        &innerTpl=`nav_inner`
        &outerTpl=`nav_outer`
        &level=`1`
        &sortBy=`menuindex`
        &excludeDocs=`21,22`
        ]]
    </div>
	</div>
</nav>
</div>