<li class="hero" style="background-image:url('[[+background-image]]');">
            <div class="center">
            	<div class="overlay">
        		</div>
                <div class="wrap">
                    <div class="hero-content">
                        <h2>[[+pagetitle]]</h2>
                        [[+content]]
                        [[+promo-link-text:notempty=`<a href="[[~[[+promo-link]]]]" class="button">[[+promo-link-text]]</a>`]]
                    </div>
                </div>
            </div>  
        </li>