[[+first_name]] [[+last_name]] is applying for the open <strong>[[+position]]</strong> position: <br />
<br />
Phone Number: [[+phone]]<br />
Address: [[+address]]<br />
City: [[+city]]<br />
[[+state:notempty=`State: [[+state]]<br />`]]
<hr />
Education: [[+education]]<br>
Do they have a valid Driver's License: [[+license]] <br>
Have they had an OWI in the last 10 years?: [[+owi]] <br>
Have they had 3 or more moving violations in the last 3 years?: [[+violation]] <br>
Do they have an HVAC license in the State of Iowa? [[+hvac]] <br>
[[+apprentice:notempty=`Are they interested in the apprecnticeship program? [[+apprentice]]`]]
<hr>
<h2>Employment History:</h2>
<strong>[[+employer-1]]</strong> <br>
Phone number: [[+employer-phone-1]] <br>
Start date: [[+start-date-1]] <br>
End date: [[+end-date-1]] <br>
Responsibilities: [[+responsibilities-1]]
<hr>
[[+employer-2:notempty=`
<strong>[[+employer-2]]</strong> <br>
Phone number: [[+employer-phone-2]] <br>
Start date: [[+start-date-2]] <br>
End date: [[+end-date-2]] <br>
Responsibilities: [[+responsibilities-2]]
<hr>`]]
[[+employer-3:notempty=`
<strong>[[+employer-3]]</strong> <br>
Phone number: [[+employer-phone-3]] <br>
Start date: [[+start-date-3]] <br>
End date: [[+end-date-3]] <br>
Responsibilities: [[+responsibilities-3]] 
<hr>`]]
<h2>Additional training or certificates</h2>
<strong>[[+comments]]</strong><br /><br />

You can respond to [[+first_name]] [[+last_name]] by email at <a href="mailto:[[+email]]">[[+email]]</a> or by phone at [[+phone]]