/* line 26, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.cf:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 53, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 56, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 63, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 65, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 67, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 69, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 71, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 73, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 75, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 78, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 81, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 83, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 84, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 86, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 89, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 90, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 91, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 98, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 99, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 112, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 118, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 125, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 132, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 133, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 136, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 143, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 151, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 157, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 165, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 171, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 177, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 178, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 179, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 185, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 192, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 196, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 203, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 204, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 212, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 213, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 216, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 219, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 222, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 225, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 228, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 229, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 230, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 238, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 239, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 240, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 241, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 242, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 243, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 244, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 245, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 246, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 248, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 249, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/_smallest.scss */
body {
  padding: 0;
}

/* RESPONSIVE IMAGES */
/* line 17, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 24, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 31, ../sass/_smallest.scss */
section {
  padding: 2em;
}

/* line 36, ../sass/_smallest.scss */
.wrap {
  max-width: 1100px;
  margin: auto;
  position: relative;
}
/* line 40, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 45, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* FOOTER */
/* BUTTON */
/* line 63, ../sass/_smallest.scss */
.tophat {
  background: #a20417;
  text-align: center;
}
/* line 65, ../sass/_smallest.scss */
.tophat .wrap {
  background: #444244;
  padding: 1em 2em;
}
/* line 69, ../sass/_smallest.scss */
.tophat .wrap .telephone, .tophat .wrap .button {
  line-height: 1;
}
/* line 72, ../sass/_smallest.scss */
.tophat .wrap .telephone {
  display: inline-block;
  color: white;
  font-size: 14px;
  padding: 0;
  margin: 0 1em 1em 0;
  line-height: 1.4;
}
/* line 81, ../sass/_smallest.scss */
.tophat .wrap .quote {
  font-size: 14px;
}
/* line 85, ../sass/_smallest.scss */
.tophat .wrap .button {
  border: solid 2px white;
}

/* line 93, ../sass/_smallest.scss */
.mainnav {
  padding: 0 2em;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  height: 106px;
  display: table;
  width: 100%;
  text-align: center;
}
/* line 94, ../sass/_smallest.scss */
.mainnav .nav-toggle {
  font-size: 34px;
  float: right;
  line-height: 3;
}
/* line 106, ../sass/_smallest.scss */
.mainnav .logo {
  width: 200px;
  float: left;
  line-height: 100px;
}
/* line 111, ../sass/_smallest.scss */
.mainnav li {
  line-height: 100px;
}
/* line 114, ../sass/_smallest.scss */
.mainnav .logo-elipse {
  display: none;
  position: absolute;
  top: -30px;
  left: -150px;
}

/* line 123, ../sass/_smallest.scss */
.col3 {
  width: 100%;
  margin-bottom: 1em;
  display: inline-block;
}

/* line 130, ../sass/_smallest.scss */
.interior .hero {
  height: 200px;
}

/* line 135, ../sass/_smallest.scss */
.hero {
  padding: 0;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: table !important;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
}
/* line 145, ../sass/_smallest.scss */
.hero .center {
  padding: 0 2em;
}
/* line 148, ../sass/_smallest.scss */
.hero .intro-text {
  display: none;
}
/* line 151, ../sass/_smallest.scss */
.hero .overlay {
  width: 100%;
  height: 800px;
  background: rgba(162, 4, 23, 0.6);
  position: absolute;
  top: -60px;
  left: 0;
}
/* line 159, ../sass/_smallest.scss */
.hero .hero-content {
  width: 100%;
}
/* line 161, ../sass/_smallest.scss */
.hero .hero-content h2 {
  color: white;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 36px;
}
/* line 167, ../sass/_smallest.scss */
.hero .hero-content p {
  color: white;
}
/* line 171, ../sass/_smallest.scss */
.hero .wrap {
  max-width: 940px;
}

/* line 177, ../sass/_smallest.scss */
.home-main {
  padding: 10px;
}
/* line 179, ../sass/_smallest.scss */
.home-main .headline {
  margin-bottom: 20px;
}
/* line 180, ../sass/_smallest.scss */
.home-main .headline img {
  margin-right: 10px;
}
/* line 186, ../sass/_smallest.scss */
.home-main .main-form label {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
/* line 191, ../sass/_smallest.scss */
.home-main .main-form input[type="text"] {
  height: 25px;
  font-size: 14px;
  margin: 0 0 5px 0;
  padding: 0 0 0 15px;
}
/* line 198, ../sass/_smallest.scss */
.home-main .col3 {
  padding: 10px 20px;
  border: solid 2px;
  height: 320px;
  display: table;
  text-align: center;
}
/* line 204, ../sass/_smallest.scss */
.home-main .col3 label, .home-main .col3 input {
  text-align: left;
}
/* line 207, ../sass/_smallest.scss */
.home-main .col3 h3 {
  line-height: 1;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}
/* line 213, ../sass/_smallest.scss */
.home-main .col3 .button {
  margin-top: 15px;
}
/* line 217, ../sass/_smallest.scss */
.home-main .grey {
  border-color: #949494;
}
/* line 219, ../sass/_smallest.scss */
.home-main .grey h3 {
  color: #949494;
}
/* line 223, ../sass/_smallest.scss */
.home-main .red {
  border-color: #a91f23;
}
/* line 225, ../sass/_smallest.scss */
.home-main .red h3 {
  color: #a91f23;
}
/* line 229, ../sass/_smallest.scss */
.home-main .darkred {
  border-color: #a20417;
}
/* line 231, ../sass/_smallest.scss */
.home-main .darkred h3 {
  color: #a20417;
}
/* line 235, ../sass/_smallest.scss */
.home-main .wrap {
  background: url("/resources/img/module-bg.png") no-repeat top center;
  background-size: 100%;
  margin-top: -25px;
  padding: 20px;
}

/* line 243, ../sass/_smallest.scss */
.center {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

/* line 251, ../sass/_smallest.scss */
.footer {
  background: #444244;
  text-align: center;
}
/* line 254, ../sass/_smallest.scss */
.footer p {
  color: black;
}
/* line 258, ../sass/_smallest.scss */
.footer ul li {
  display: inline-block;
  margin-right: 1em;
}
/* line 262, ../sass/_smallest.scss */
.footer ul li.active a, .footer ul li.active a:visited, .footer ul li.active a:active {
  color: #ccc;
}
/* line 266, ../sass/_smallest.scss */
.footer ul li:last-child {
  margin-right: 0;
}
/* line 269, ../sass/_smallest.scss */
.footer ul li a, .footer ul li a:visited, .footer ul li a:active {
  color: white;
}
/* line 271, ../sass/_smallest.scss */
.footer ul li a:hover, .footer ul li a:visited:hover, .footer ul li a:active:hover {
  color: #949494;
}

/* line 280, ../sass/_smallest.scss */
.content {
  padding: 3em 2em;
}
/* line 281, ../sass/_smallest.scss */
.content .wrap {
  max-width: 940px;
}

/* line 287, ../sass/_smallest.scss */
.sidebar {
  margin-bottom: 2em;
  border-bottom: solid 1px #ccc;
}
/* line 290, ../sass/_smallest.scss */
.sidebar h2 {
  font-size: 19px;
}
/* line 293, ../sass/_smallest.scss */
.sidebar ul {
  margin: 0;
  padding: 0;
}
/* line 296, ../sass/_smallest.scss */
.sidebar ul li {
  padding: 0;
  margin: 0;
  display: inline;
}
/* line 301, ../sass/_smallest.scss */
.sidebar ul li.active a {
  color: white;
  background: #a91f23;
}
/* line 307, ../sass/_smallest.scss */
.sidebar ul li a {
  color: #8B8B8B;
  font-weight: 800;
  font-size: 14px;
  display: inline-block;
  border: solid 1px transparent;
  padding: 15px;
}
/* line 316, ../sass/_smallest.scss */
.sidebar ul li a:hover {
  color: white;
  background: #a91f23;
}

/* line 327, ../sass/_smallest.scss */
.nav-collapse {
  width: 100%;
}

/* line 333, ../sass/_smallest.scss */
#estimate form textarea {
  min-height: 80px;
}

@media (min-width: 1350px) {
  /* line 341, ../sass/_smallest.scss */
  .mainnav .logo-elipse {
    display: block;
  }
}
/* line 346, ../sass/_smallest.scss */
.navContain {
  position: fixed;
  width: 100%;
  z-index: 1001;
  top: 0;
}

/* line 353, ../sass/_smallest.scss */
.scroll {
  text-align: center;
}

/* line 1, ../sass/_480.scss */
section {
  padding: 2em 0;
}

/* line 1, ../sass/_768.scss */
section {
  padding: 2em 0;
}

/* line 5, ../sass/_768.scss */
.home-main {
  padding: 2em;
}
/* line 7, ../sass/_768.scss */
.home-main .wrap {
  margin-top: -75px;
  padding: 40px;
}

/* line 16, ../sass/_768.scss */
.interior .hero {
  height: 400px;
}

/* line 22, ../sass/_768.scss */
.hero .intro-text {
  display: block;
}
/* line 25, ../sass/_768.scss */
.hero .overlay {
  display: none;
}
/* line 28, ../sass/_768.scss */
.hero .hero-content {
  width: 40%;
}
/* line 30, ../sass/_768.scss */
.hero .hero-content h2 {
  color: #a20417;
}
/* line 33, ../sass/_768.scss */
.hero .hero-content p {
  color: #2f2e2e;
}

/* line 40, ../sass/_768.scss */
.col3 {
  width: 100%;
  float: left;
}
/* line 326, ../sass/_mixins.scss */
.col3:nth-child(n) {
  margin-bottom: 2%;
  margin-right: 2%;
}
/* line 330, ../sass/_mixins.scss */
.col3:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 47, ../sass/_768.scss */
.home-main .col3 {
  margin-bottom: 1em;
  padding: 10px 20px;
  border: solid 2px;
  height: 320px;
  display: table;
  text-align: center;
}
/* line 54, ../sass/_768.scss */
.home-main .col3 p, .home-main .col3 h3 {
  text-align: left;
}

/* line 61, ../sass/_768.scss */
.tophat .wrap {
  border-left: solid 15px white;
  border-right: solid 15px white;
}
/* line 64, ../sass/_768.scss */
.tophat .wrap .telephone {
  margin: 0 1em 0 39px;
  font-size: 38px;
}
/* line 69, ../sass/_768.scss */
.tophat .wrap .quote {
  font-size: 18px;
}

/* line 77, ../sass/_768.scss */
.mainnav .logo {
  margin-left: 100px;
}

/* line 84, ../sass/_768.scss */
.sidebar {
  border-bottom: 0;
  text-align: right;
  border-right: solid 1px #a91f23;
}
/* line 88, ../sass/_768.scss */
.sidebar h2 {
  padding: 0 15px;
  margin-bottom: 20px;
  font-size: 31.5px;
}
/* line 93, ../sass/_768.scss */
.sidebar ul {
  margin: 0;
  padding: 0;
}
/* line 96, ../sass/_768.scss */
.sidebar ul li {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}
/* line 100, ../sass/_768.scss */
.sidebar ul li.active a {
  color: white;
  background: #a91f23;
  width: 100%;
}
/* line 107, ../sass/_768.scss */
.sidebar ul li a {
  color: #8B8B8B;
  font-weight: 800;
  font-size: 16px;
  display: inline-block;
  border: solid 1px transparent;
  padding: 15px;
  width: 90%;
  margin-bottom: 10px;
  float: right;
}
/* line 118, ../sass/_768.scss */
.sidebar ul li a:hover {
  color: white;
  background: #e85866;
}

/* line 128, ../sass/_768.scss */
.nav-collapse {
  width: auto;
}

/* line 1, ../sass/_940.scss */
.content {
  padding: 5em 0;
}

/* line 6, ../sass/_940.scss */
.tophat .telephone {
  float: left;
}
/* line 9, ../sass/_940.scss */
.tophat .quote {
  float: right;
}

/* line 21, ../sass/_940.scss */
.home-main .headline img {
  float: left;
}
/* line 26, ../sass/_940.scss */
.home-main .col3 h3 {
  margin-left: 1em;
}
