[[$doc_head]]
<body class="interior">
    [[$navigation]]
    [[$header-interior]]
    <section class="content">
        <div class="row-fluid wrap">
        	<div class="span5">
        		[[*content]]
        	</div>
        	<div class="span7">
        		[[$contact_form]]
        	</div>
            
        </div>
    </section>
    [[$footer]]
    [[$doc_footer]]
