[[$doc_head]]
<body class="interior">
    [[$navigation]]
    [[$header-interior]]
    <section class="content">
        <div class="row-fluid wrap">
        	<div class="span4">
        		[[*content]]
                <hr>
                <h3>Available positoins:</h3>
                <ul>
                    [[!getImageList? 
                      &tvname=`available-positions`
                      &tpl=`@CODE:<li>[[+position]]</li>
                    `]]
                </ul>
        	</div>
        	<div class="span8">
        		[[$employment_form]]
        	</div>
            
        </div>
    </section>
    [[$footer]]
    [[$doc_footer]]
