[[$doc_head]]
  <body>
    [[$navigation]]
    [[$header]]
    <section class="home-main">
        <div class="row-fluid wrap">
            <div class="col3 red">
                <div class="headline">
                    <img src="[[*column-1-image]]" alt="">
                    <h3>[[*column-1-headline]]</h3>
                </div>
                [[*column-1-content]]
                <a href="[[~[[*column-1-link]]]]" class="button">[[*column-1-link-text]]</a>
            </div>
            <div class="col3 red">
                <div class="headline">
                    <img src="[[*column-2-image]]" alt="">
                    <h3>[[*column-2-headline]]</h3>
                </div>
                [[*column-2-content]]
                <a href="[[~[[*column-2-link]]]]" class="button">[[*column-2-link-text]]</a>
            </div>
            <div class="col3 red">
                <div class="headline">
                    <img src="[[*column-3-image]]" alt="">
                    <h3>[[*column-3-headline]]</h3>
                </div>
                [[*column-3-content]]
                <a href="[[~[[*column-3-link]]]]" class="button">[[*column-3-link-text]]</a>
            </div>
        </div>
    </section>
    [[$footer]]
    [[$doc_footer]]
