[[$doc_head]]
<body class="interior">
    [[$navigation]]
    [[$header-interior]]
    <section class="content">
        <div class="row-fluid wrap">
            [[*content]]
        </div>
    </section>
    [[$footer]]
    [[$doc_footer]]
