[[$doc_head]]
<body class="interior">
    [[$navigation]]
    [[$header-interior]]
    <section class="content">
        <div class="row-fluid wrap">
            <div class="row-fluid">
               <div class="span9">
                  [[*content]]
              </div>
              <div class="span3 visible-desktop">
                <a href="#apply" class="applyLink button scroll">Apply for this position</a>
            </div>
        </div>
    <hr>
    <h3>Apply for this position</h3>
    <div id="apply">
        [[$employment_form_job]]
    </div>

</div>


</section>
[[$footer]]
[[$doc_footer]]
