[[$doc_head]]
<body class="interior">
    [[$navigation]]
    [[$header-interior]]
    <section class="content">
        <div class="row-fluid wrap">
            <div class="span3 sidebar">
               
                [[Wayfinder? 
                &level=`0`
                &startId=`[[*id]]`
                &innerTpl=`nav_inner`
                &outerTpl=`nav_outer`
                &level=`1`
                &sortBy=`menuindex`
                ]]
            </div>
            <div class="span9">
                [[*content]]
            </div>
        </div>
    </section>
    [[$footer]]
    [[$doc_footer]]
