[[$doc_head]]
  <body>
    <div class="tophat">
        <div class="wrap">
            <p class="telephone"> Call us! 515-986-5007</p>
            <a href="" class="button quote" >Free Quote</a>
        </div>
    </div>
    <nav class="mainnav">
        <div class="wrap">
            <div class="logo-elipse"><img src="/resources/img/logo-elipse.png" alt=""></div>
            <div class="logo"><img src="/resources/img/logo.jpg" alt=""></div>
            <ul>
                <li><a href="" >About</a></li>
                <li><a href="" >About</a></li>
                <li><a href="" >About</a></li>
                <li><a href="" >About</a></li>
                <li><a href="" >About</a></li>
            </ul>
        </div>
    </nav>
    <section class="hero" style="background-image:url('/resources/img/hero.jpg');">
        <div class="center">
            <div class="wrap">
                <div class="hero-content">
                    <h2><strong>Stay cool</strong> in the heat of summer</h2>
                    <p>Hot and humid, that is a typical Iowa summer. We can help keep that heat under control this year with a new air-conditioner.</p>
                    <a href="" class="button">learn more</a>
                </div>
            </div>
        </div>  
    </section>
    <section class="home-main">
        <div class="row-fluid wrap">
            <div class="col3 grey">
                <div class="headline">
                    <img src="/resources/img/about.png" alt="">
                    <h3>ABout Heratland Heating & Cooling</h3>
                </div>
                <p>We’ve been serving the Des Moines area in the heating, cooling, geo-thermal, climate control and in-floor heating industries since 2003. But there’s much more to our to our story than good service, great prices and even better relationships. </p>
                <a href="" class="button">learn more</a>
            </div>
            <div class="col3 red">
                <div class="headline">
                    <img src="/resources/img/team.png" alt="">
                    <h3>Join our<br>comfort team</h3>
                </div>
                <p>We will personally teach you when and how to maintain your appliances to keep them running longer and save money on your energy bills.</p>
                <a href="" class="button">learn more</a>
            </div>
            <div class="col3 darkred">
                <div class="headline">
                    <img src="/resources/img/schedule.png" alt="">
                    <h3>Schedule an appointment</h3>
                </div>
                <form class="main-form row-fluid" action="[[~[[*id]]]]" method="post"  >

                        
                            <label for="first_name">First Name<sup>*</sup></label>
                            <input type="text" value="[[!+fi.first_name]]" id="first_name" name="first_name" >
                        
                            <label for="last_name">Last Name<sup>*</sup></label>
                            <input type="text" value="[[!+fi.last_name]]" id="last_name" name="last_name"  >
                    <label for="email">Email Address<sup>*</sup></label>
                    <input type="text" value="[[!+fi.email]]" id="email" name="email" >

                    <input class="button" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="row-fluid wrap">
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
                <li><a href="">About</a></li>
            </ul>
            <p>Copyright © 2014 | Website by <a href="">Avidity Creative</a></p>
        </div>
    </section>

    <script src="/resources/js/libs/respond.min.js"></script>
    <script src="/resources/js/libs/bootstrap.min.js"></script>
    <script src="/resources/js/plugins.js"></script>
    <script src="/resources/js/main.js"></script>
    <script src="/resources/js/event-tracker.js"></script>

</body>
</html>
